database=your_db
hostDB=host_db
portDB=port_db
userDB=user_db
passDB=password_db

hostSMTP=host_SMTP
portSMTP=port_SMTP
userSMTP=user_SMTP
passSMTP=password_SMTP

jwt_key=key_jsonWebToken

AES_key=key_AES

salt_of_round=number